{% extends 'base.html' %}
{% load static %}

{% block main %}

<!-- Page Heading -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-0 text-gray-800">PAINEL COVID-19 BRASIL</h1>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">SELECIONE UMA DATA</h6>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-12">
                <form action="{% url  'dataInfoDiaEstado' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input class="form-control" type="date" value="" id="dataInput" name="data">
                    </div>
                    <div class="mt-3 float-right">
                        <input type="submit" value="Pesquisar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main %}

{% block js %}
{% endblock js %}